* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Shadows Into Light', cursive;
}



:root {
   --white: rgb(255, 255, 255);
   --black: rgb(15, 15, 15);
   --bg: #30303f;
}
body {
    background: rgb(48, 48, 65);
    margin: auto;
    overflow-x: hidden;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #62416d;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #9689ad;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #62416d;
		border-left-color: transparent;
	}
}

/*---------------------
  Header
-----------------------*/

.header {
	background: #171423;
	
}

.header__logo {
	padding: 20px 0 17px;
}

.header__logo a {
	display: inline-block;
}

.header__menu {
	list-style-type: disc;
	text-align: center;
}

.header__menu ul li {
	list-style: disc;
	display: inline-block;
	position: relative;
	margin-right: 16px;
}

.header__menu ul li.active a {
	background: #e02a2a;
	color: #ffffff;
}

.header__menu ul li:hover a {
	color: #c7b4b4;
}

.header__menu ul li:hover .dropdown {
	list-style-type: disc;
	top: 62px;
	opacity: 1;
	visibility: visible;
}

.header__menu ul li:hover .dropdown li a {
	list-style-type: disc;
	background: transparent;
}

.header__menu ul li:last-child {
	margin-right: 0;
}

.header__menu ul li .dropdown {
	list-style-type: disc;
	position: absolute;
	left: 0;
	top: 82px;
	width: 150px;
	background: #ffffff ;
	text-align: left;
	padding: 5px 0;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.header__menu ul li .dropdown li {
	list-style-type: disc;
	display: block;
	margin-right: 0;
}

.header__menu ul li .dropdown li a {
	list-style-type: disc;
	font-size: 14px;
	color: #2f2f2f;
	font-weight: 500;
	padding: 5px 20px;
}

.header__menu ul li a {
	font-size: 15px;
	color: #9f9f9f;
	display: block;
	font-weight: 700;
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
	padding: 20px;
}

.header__menu ul li a span {
	position: relative;
	font-size: 17px;
	top: 2px;
}

.header__right {
	text-align: right;
	padding: 20px 0 15px;
}

.header__right a {
	display: inline-block;
	font-size: 18px;
	color: #ffffff;
	margin-right: 30px;
}

.header__right a:last-child {
	margin-right: 0;
}

.slicknav_menu {
	display: none;
}
.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}
/*  slider */
.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
.hero {
	padding-top: 50px;
	
}

.hero__items {
	padding: 250px 0 42px 50px;
	border-radius: 5px;
	
}

.hero__text {
	position: relative;
	z-index: 9;
}



.hero__text .label {
	font-size: 13px;
	color: #d30000;
	background: #ffffff;
	padding: 5px 14px 3px;
	display: inline-block;
	position: relative;
	top: -100px;
	opacity: 0;
	-webkit-transition: all, 0.9s;
	-o-transition: all, 0.9s;
	
}



.hero__text h2 {
	color: #fcfcfc;
	font-size: 42px;
	font-family: "Oswald", sans-serif;
	font-weight: 700;
	line-height: 52px;
	margin-top: 35px;
	margin-bottom: 8px;
	position: relative;
	top: -100px;
	opacity: 0;
	-webkit-transition: all, 1.0s;
	-o-transition: all, 1.0s;
	transition: all, 1.0s;
}

.hero__text p {
	color: #ffffff;
	font-size: 16px;
	margin-bottom: 40px;
	position: relative;
	top: -100px;
	opacity: 0;
	-webkit-transition: all, 1.3s;
	-o-transition: all, 1.3s;
	transition: all, 1.3s;
}

.hero__text a {
	position: relative;
	top: -100px;
	opacity: 0;
	-webkit-transition: all, 1.5s;
	-o-transition: all, 1.5;
	transition: all, 1.5s;
}

.hero__text a span {
	font-size: 13px;
	color: #ffffff;
	background: #d73c3c;
	display: inline-block;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 14px 20px;
	border-radius: 4px 0 0 4px;
	margin-right: 1px;
}

.hero__text a i {
	font-size: 20px;
	display: inline-block;
	background: #e53637;
	padding: 11px 5px 16px 8px;
	color: #cfc6c6;
	border-radius: 0 4px 4px 0;
}

.hero__slider.owl-carousel .owl-item.active .hero__text .label {
	top: 0;
	opacity: 1;
}

.hero__slider.owl-carousel .owl-item.active .hero__text h2 {
	top: 0;
	opacity: 1;
}

.hero__slider.owl-carousel .owl-item.active .hero__text p {
	top: 0;
	opacity: 1;
}

.hero__slider.owl-carousel .owl-item.active .hero__text a {
	top: 0;
	opacity: 1;
}

.hero__slider.owl-carousel .owl-dots {
	position: absolute;
	left: 0;
	bottom: 10px;
	width: 100%;
	text-align: center;
}

.hero__slider.owl-carousel .owl-dots button {
	height: 8px;
	width: 8px;
	background: #b7b7b7;
	border-radius: 50%;
	margin-right: 10px;
}

.hero__slider.owl-carousel .owl-dots button.active {
	background: #ffffff;
}

.hero__slider.owl-carousel .owl-dots button:last-child {
	margin-right: 0;
}

.hero__slider.owl-carousel .owl-nav button {
	font-size: 36px;
	height: 66px;
	width: 66px;
	background: #0b0c2a;
	line-height: 66px;
	text-align: center;
	color: #eee2e2;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	position: relative;
	z-index: 1;
	position: absolute;
	left: -33px;
	top: 50%;
	margin-top: -50px;
}

.hero__slider.owl-carousel .owl-nav button.owl-next {
	left: auto;
	right: -33px;
}

.hero__slider.owl-carousel .owl-nav button:after {
	position: absolute;
	top: 6px;
	left: 0;
	right: 0;
	height: 54px;
	width: 54px;
	background: rgba(25, 25, 25, 0.1);
	content: "";
	z-index: -1;
	margin: 0 auto;
}

.hero__slider.owl-carousel .owl-nav button span {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);

	display: block;
	z-index: 1;
}

/* Styling Content */

.max-width {
    width: 90%;
    margin: auto;
    padding-bottom: 2vh;
	
}

/* Content style */

.content {
    display: grid;
    grid-template-columns: 6fr 1.5fr;
    margin-top: 7vh;
    gap: 10px;
	
}

.sidebar {
    order: 1;
    border-radius: 5px;
    padding: 10px;
    display: grid;
    gap: 10px;
	
}

.sidebar h3 {
    color: #fff;
    margin-left: 1rem;
    padding: 1vh 0 3vh 0;
}

.movie {
    background-color: #37375a;
    padding: 20px;
    border-radius: 7px;
}

.recomendations {
    background-color: #3b4275;
    padding: 20px;
    border-radius: 7px
}

.content-item {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.description {
    text-align: center;
    font-size: 0.9em;
    color: #fff;
}

.content-item img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

.content-item img:hover {
    transform: scale(1.07);
}

.pagination {
    margin: 2rem 0;
    justify-content: center;
    display: flex;
}

.page-item {
    border: 1px solid black;
    transition: all 0.3s;
}

.page-item:hover {
    background-color: rgb(72, 255, 0);
}

.page-link {
    padding: 20px 15px;
    color: var(--white);
}


/* Left bar */

.leftbar {
    order: 2;
    padding: 10px;
    height: max-content;
}

.container-news {
    background: #262941;
    padding: 10px;
}

.container-news h3 {
    font-size: 20px;
    color: var(--white);
    padding: 7px 0 15px 20px;
}

.menu-item-card {
    margin: 2vh 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: auto;
}

.menu-item-genre {
    width: 4rem;
    text-align: center;
    background-color: #2b2c33;
    padding: 6px;
    border-radius: 5px;
    transition: all 0.3s;
}

.menu-item-genre:hover {
    background-color: #d7ec1b;
    transform: scale(1.03);
}

.menu-item-genre a {
    color: var(--white);
}

.title-link-genre {
    justify-content: center;
    border-radius: 5px;
    display: flex;
    padding: 3vh 0;
}

.title-link-genre a {
    transition: all 0.3s;
    color: var(--white);
    padding: 10px;
    border-radius: 6px;
    background-color: blue;
    transition: all 0.3s;
}

.title-link-genre a:hover {
    background-color: rgb(187, 255, 0);
    transform: scale(1.03);
    color: rgba(0, 0, 0, 0.993);
}

.leftbar img {
    width: 100%;
}

.leftbar p {
    padding-bottom: 2vh;
    font-size: 15px;
    color: #fff;
}

.menu-genre {
    margin-top: .8rem;
    background-color: #262941;
    border-radius: 5px;
    padding: 10px;
}

.menu-genre h3 {
    border-left: 5px solid rgb(39, 34, 34);
    padding: 6px;
    border-radius: 7px;
    text-align: center;
    width: 50%;
    background-color: #3b469b;
    margin-left: 2vh;
    color: var(--white);
    letter-spacing: 1px;
}

.genre-opsi {
    margin-top: 3vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.genre {
    background-color: rgb(43, 43, 38);
    padding: 8px;
    border-radius: 6px;
    text-align: center;
    transition: all 0.6s;
}

.genre:hover {
    background-color: rgb(182, 243, 14);
    transform: scale(1.06);
}

.genre a {
    font-size: 13px;
    color: var(--white);
}


/* On Going */

.on-going {
    margin-top: 1rem;
    padding: 10px;
    border-radius: 5px;
    background-color: #262941;
}

.on-going h3 {
    font-size: 18px;
    color: var(--white);
    padding: 7px 0 15px 20px;
}


/* Footer Styling */

.footer-item {
    border-top: 2px solid var(--white);
    padding: 30px 0;
    grid-area: footer;
    background-color: rgb(47, 45, 51);
}

.copyright {
    display: flex;
    justify-content: center;
}

.copyright a,
.copyright-end a {
    color: #fff;
}

.copyright-end {
    display: flex;
    justify-content: center;
}


/*---------------------
  Login
-----------------------*/


.login__form {
	
	position: relative;
	padding-left: 145px;
}

.login__form:after {
	position: absolute;
	right: -14px;
	top: -40px;
	height: 330px;
	width: 1px;
	background: rgba(255, 255, 255, 0.2);
	content: "";
}

.login__form h3 {
	color: #ffffff;
	font-weight: 700;
	font-family:  sans-serif;
	margin-bottom: 30px;
}

.login__form form .input__item {
	position: relative;
	width: 370px;
	margin-bottom: 20px;
}

.login__form form .input__item:before {
	position: absolute;
	left: 50px;
	top: 10px;
	height: 30px;
	width: 1px;
	background: #b7b7b7;
	content: "";
}

.login__form form .input__item input {
	height: 50px;
	width: 100%;
	font-size: 15px;
	color: #b7b7b7;
	background: #ffffff;
	border: none;
	padding-left: 76px;
}

.login__form form .input__item input::-webkit-input-placeholder {
	color: #b7b7b7;
}

.login__form form .input__item input::-moz-placeholder {
	color: #b7b7b7;
}

.login__form form .input__item input:-ms-input-placeholder {
	color: #b7b7b7;
}

.login__form form .input__item input::-ms-input-placeholder {
	color: #b7b7b7;
}

.login__form form .input__item input::placeholder {
	color: #b7b7b7;
}

.login__form form .input__item span {
	color: #b7b7b7;
	font-size: 20px;
	position: absolute;
	left: 15px;
	top: 13px;
}

.login__form form button {
	border-radius: 0;
	margin-top: 10px;
}

.login__form .forget_pass {
	font-size: 15px;
	color: #ffffff;
	display: inline-block;
	position: absolute;
	right: 60px;
	bottom: 12px;
}

.login__register {
	padding-left: 30px;
}

.login__register h3 {
	color: #ffffff;
	font-weight: 700;
	font-family: "Oswald", sans-serif;
	margin-bottom: 30px;
}

.login__register .primary-btn {
	background: #e53637;
	padding: 12px 42px;
}

.login__social {
	padding-top: 52px;
	padding-bottom: 50px;
}

.login__social__links {
	text-align: center;
}

.login__social__links span {
	color: #ffffff;
	display: block;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.login__social__links ul li {
	list-style: none;
	margin-bottom: 15px;
}

.login__social__links ul li:last-child {
	margin-bottom: 0;
}

.login__social__links ul li a {
	color: #ffffff;
	display: block;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	width: 460px;
	padding: 14px 0;
	position: relative;
	margin: 0 auto;
}

.login__social__links ul li a.facebook {
	background: #1567ff;
}

.login__social__links ul li a.google {
	background: #ff4343;
}

.login__social__links ul li a.twitter {
	background: #1891e2;
}

.login__social__links ul li a i {
	font-size: 20px;
	position: absolute;
	left: 32px;
	top: 14px;
}

.login__social__links p{
	font-family: "Oswald", sans-serif;
	font-size: larger;
	color: white;
}
/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	letter-spacing: 2px;
}

.primary-btn span {
	font-size: 18px;
	margin-left: 5px;
	position: relative;
	top: 3px;
}

.site-btn {
	font-size: 13px;
	color: #ffffff;
	background: #e53637;
	font-weight: 700;
	border: none;
	border-radius: 2px;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: inline-block;
	padding: 12px 30px;
}

/*---------------------
  Anime Details
-----------------------*/
.section-title {
	margin-bottom: 30px;
}

.section-title h4,
.section-title h5 {
	color: #ffffff;
	font-weight: 600;
	line-height: 21px;
	text-transform: uppercase;
	padding-left: 20px;
	position: relative;
	
}

.section-title h4:after,
.section-title h5:after {
	position: absolute;
	left: 0;
	top: -6px;
	height: 32px;
	width: 4px;
	background: #e53637;
	content: "";
}
.anime-details {
	padding-top: 60px;
}

.anime__details__content {
	margin-bottom: 65px;
}

.anime__details__text {
	position: relative;
}

.anime__details__text p {
	color: #b7b7b7;
	font-size: 18px;
	line-height: 30px;
}

.anime__details__pic {
	height: 440px;
	border-radius: 5px;
	position: relative;
}

.anime__details__pic .comment {
	font-size: 13px;
	color: #ffffff;
	background: #3d3d3d;
	display: inline-block;
	padding: 2px 10px;
	border-radius: 4px;
	position: absolute;
	left: 10px;
	bottom: 25px;
}

.anime__details__pic .view {
	font-size: 13px;
	color: #ffffff;
	background: #3d3d3d;
	display: inline-block;
	padding: 2px 10px;
	border-radius: 4px;
	position: absolute;
	right: 10px;
	bottom: 25px;
}

.anime__details__title {
	margin-bottom: 20px;
}

.anime__details__title h3 {
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 13px;
}

.anime__details__title span {
	font-size: 15px;
	color: #b7b7b7;
	display: block;
}

.anime__details__rating {
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
}

.anime__details__rating .rating i {
	font-size: 24px;
	color: #e89f12;
	display: inline-block;
}

.anime__details__rating span {
	display: block;
	font-size: 18px;
	color: #b7b7b7;
}

.anime__details__widget {
	margin-bottom: 15px;
}

.anime__details__widget ul {
	margin-bottom: 20px;
}

.anime__details__widget ul li {
	list-style: none;
	font-size: 15px;
	color: #ffffff;
	line-height: 30px;
	position: relative;
	padding-left: 18px;
}

.anime__details__widget ul li:before {
	position: absolute;
	left: 0;
	top: 12px;
	height: 6px;
	width: 6px;
	background: #b7b7b7;
	content: "";
}

.anime__details__widget ul li span {
	color: #b7b7b7;
	width: 115px;
	display: inline-block;
}

.anime__details__btn .follow-btn {
	font-size: 13px;
	color: #ffffff;
	background: #e53637;
	display: inline-block;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 14px 20px;
	border-radius: 4px;
	margin-right: 11px;
}

.anime__details__btn .watch-btn span {
	font-size: 13px;
	color: #ffffff;
	background: #e53637;
	display: inline-block;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 14px 20px;
	border-radius: 4px 0 0 4px;
	margin-right: 1px;
}

.anime__details__btn .watch-btn i {
	font-size: 20px;
	display: inline-block;
	background: #e53637;
	padding: 11px 5px 16px 8px;
	color: #ffffff;
	border-radius: 0 4px 4px 0;
}

.anime__details__review {
	margin-bottom: 55px;
}


.anime__review__item {
	overflow: hidden;
	margin-bottom: 15px;
}

.anime__review__item__pic {
	float: left;
	margin-right: 20px;
	position: relative;
}

.anime__review__item__pic:before {
	position: absolute;
	right: -30px;
	top: 15px;
	border-top: 15px solid transparent;
	border-left: 15px solid #1d1e39;
	content: "";
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.anime__review__item__pic img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.anime__review__item__text {
	overflow: hidden;
	background: #1d1e39;
	padding: 18px 30px 16px 20px;
	border-radius: 10px;
}

.anime__review__item__text h6 {
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 10px;
}

.anime__review__item__text h6 span {
	color: #b7b7b7;
	font-weight: 400;
}

.anime__review__item__text p {
	color: #b7b7b7;
	line-height: 23px;
	margin-bottom: 0;
}

.anime__details__form form textarea {
	width: 100%;
	font-size: 15px;
	color: #b7b7b7;
	padding-left: 20px;
	padding-top: 12px;
	height: 110px;
	border: none;
	border-radius: 5px;
	resize: none;
	margin-bottom: 24px;
}

.anime__details__form form button {
	font-size: 11px;
	color: #ffffff;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	background: #e53637;
	border: none;
	padding: 10px 15px;
	border-radius: 2px;
}
/*---------------------
  Breadcrumb
-----------------------*/

.breadcrumb-option {
	padding-top: 35px;
}

.breadcrumb__links a {
	font-size: 15px;
	color: #ffffff;
	margin-right: 18px;
	display: inline-block;
	position: relative;
}

.breadcrumb__links a i {
	margin-right: 5px;
	color: #e53637;
}

.breadcrumb__links a:after {
	position: absolute;
	right: -14px;
	top: 0;
	content: "";
	font-family: "FontAwesome";
}

.breadcrumb__links span {
	font-size: 15px;
	color: #b7b7b7;
	display: inline-block;
}

/*---------------------
  Anime Watching
-----------------------*/
h1{
	color: floralwhite;
}
.anime__video__player {
	margin-bottom: 40px;
}

.anime__video__player .plyr--video {
	border-radius: 5px;
	background: transparent;
}

.anime__video__player .plyr audio,
.anime__video__player .plyr iframe,
.anime__video__player .plyr video {
	width: 102%;
}

.anime__video__player .plyr--full-ui.plyr--video .plyr__control--overlaid {
	display: block;
}

.anime__video__player .plyr--video .plyr__control.plyr__tab-focus,
.anime__video__player .plyr--video .plyr__control:hover,
.anime__video__player .plyr--video .plyr__control[aria-expanded=true] {
	background: transparent;
}

.anime__video__player .plyr--video .plyr__controls {
	background: transparent;
}

.anime__video__player .plyr--video .plyr__progress__buffer {
	color: transparent;
}

.anime__video__player .plyr--full-ui input[type=range] {
	color: #ffffff;
}


.anime__video__player .plyr__controls .plyr__controls__item.plyr__progress__container {
	position: absolute;
	left: 26px;
	bottom: 45px;
	width: calc(100% - 60px);
}

.anime__video__player .plyr__menu {
	margin-right: 70px;
}

.anime__video__player .plyr__controls .plyr__controls__item:first-child {
	position: absolute;
	left: 32px;
	bottom: 8px;
}

.anime__video__player .plyr__controls .plyr__controls__item:last-child {
	position: absolute;
	right: 32px;
	bottom: 8px;
}

.anime__video__player .plyr__volume {
	position: absolute;
	width: auto;
	left: 76px;
	bottom: 8px;
}

.anime__video__player .plyr__controls .plyr__controls__item.plyr__time {
	position: absolute;
	left: 106px;
	bottom: 12px;
}

.anime__video__player .plyr__control--overlaid {
	background: transparent;
	background: var(--plyr-video-control-background-hover, var(--plyr-color-main, var(--plyr-color-main, transparent)));
}

.anime__video__player .plyr__control--overlaid svg {
	height: 60px;
	width: 50px;
}

.anime__details__episodes {
	margin-bottom: 35px;
}

.anime__details__episodes a {
	display: inline-block;
	font-size: 15px;
	color: #ffffff;
	background: rgba(255, 255, 255, 0.2);
	padding: 10px 20px;
	border-radius: 4px;
	margin-right: 15px;
	margin-bottom: 20px;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.product__sidebar .section-title h5 {
	color: #ffffff;
	font-weight: 600;
	font-family: "Oswald", sans-serif;
	line-height: 21px;
	text-transform: uppercase;
	padding-left: 20px;
	position: relative;
}

.product__sidebar .section-title h5:after {
	position: absolute;
	left: 0;
	top: -6px;
	height: 32px;
	width: 4px;
	background: #e53637;
	content: "";
}

.product__sidebar__view {
	position: relative;
	margin-bottom: 80px;
}

.product__sidebar__view .filter__controls {
	position: absolute;
	right: 0;
	top: -5px;
}

.product__sidebar__view .filter__controls li {
	list-style: none;
	font-size: 13px;
	color: #b7b7b7;
	display: inline-block;
	margin-right: 7px;
	cursor: pointer;
}

.product__sidebar__view .filter__controls li.active {
	color: #ffffff;
}

.product__sidebar__view .filter__controls li:last-child {
	margin-right: 0;
}

.product__sidebar__view__item {
	height: 190px;
	position: relative;
	border-radius: 5px;
	margin-bottom: 20px;
}

.product__sidebar__view__item .ep {
	font-size: 13px;
	color: #ffffff;
	background: #e53637;
	display: inline-block;
	padding: 2px 12px;
	border-radius: 4px;
	position: absolute;
	left: 10px;
	top: 10px;
}

.product__sidebar__view__item .view {
	font-size: 13px;
	color: #ffffff;
	background: #3d3d3d;
	display: inline-block;
	padding: 2px 10px;
	border-radius: 4px;
	position: absolute;
	right: 10px;
	top: 10px;
}

.product__sidebar__view__item h5 {
	position: absolute;
	left: 0;
	bottom: 25px;
	width: 100%;
	padding: 0 30px 0 20px;
}

.product__sidebar__view__item h5 a {
	color: #ffffff;
	font-weight: 700;
	line-height: 26px;
}

/* Small Device = 320px */

@media only screen and (max-width: 475px) {
	.header{
		min-width: 375px;
		max-width: 475px;
		width: 100%;
	}
	.max-width{
		
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
		min-width: 375px;
		max-width: 475px;
		width: 100%;
		
		
	}
	.content{
		grid-template-columns: 1fr;
		margin-top: 30px;
		width: 100%;
	}
	
	.container{
		
		margin-left: 0px;
		margin-right: 0px;
		min-width: 375px;
		max-width: 475px;
	    width: 100%;	
	}
	.sidebar{
		
		min-width: 375px;
		max-width: 475px;
		width: 100%;	
	}
	.leftbar{	
		min-width: 375px;
		max-width: 475px;
		width:100%;
	}
	
	.hero {
		padding-top: 20px;
		overflow: hidden;
		min-width: 375px;
		max-width: 475px;
		width: 100%;
		
	}
	.content-item{
		grid-template-columns: repeat(2,1fr);
	}
	
	
	.genre-opsi{
		grid-template-columns: repeat(4, 1fr);
	}
    .hero__slider.owl-carousel .owl-nav {
		display: none;
	}
	.hero__items {
		padding: 150px 0 42px 15px;
	
	}
	.hero__text h2 {
		font-size: 32px;
	}
	.footer__nav ul li {
		margin-right: 10px;
	}
	.anime__details__btn .follow-btn {
		padding: 14px 26px;
		margin-right: 11px;
		margin-bottom: 25px;
	}
	.anime__details__widget ul li span {
		width: 85px;
	}
	.anime__video__player .plyr__volume {
		left: 65px;
	}
	.anime__video__player .plyr__controls .plyr__controls__item.plyr__time {
		left: 95px;
	}
	.anime__video__player .plyr__menu {
		margin-right: 60px;
	}
	.blog__details__title h2 {
		font-size: 30px;
		line-height: normal;
	}
	.blog__details__title .blog__details__social a {
		padding: 16px 25px 14px 20px;
	}
	.blog__details__comment__item.blog__details__comment__item--reply {
		padding-left: 0;
	}
	.blog__details__comment__item__pic {
		margin-right: 25px;
	}
	.blog__details__comment__item__text a {
		margin-right: 6px;
	}
	.login__social__links ul li a i {
		left: 20px;
	}
	.login__form .forget_pass {
		position: relative;
		left: 0;
		bottom: 0;
		margin-top: 25px;
	}
	.header__right a {
		margin-right: 10px;
	}
	.anime__review__item__text h6 span {
		font-size: 15px;
	}
	.anime__review__item__text {
		padding: 18px 20px 20px;
	}
	.description{
		font-size:17px;
	}
}
@media screen and (min-width: 992px)and (max-width: 1200px) {
    .container {
        grid-template-areas: 
        'navbar navbar navbar navbar'  
        'content content content' 
        'footer footer footer footer';
    }
    .movie {
        order: 1;
    }
    .recomendations {
        order: 3;
    }
    .content {
        grid-template-columns: 1fr;
    }
    .sidebar {
		margin: 0;
        order: 2;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
	.hero {
		overflow: hidden;
	}
}

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

/* Medium Device = 1200px */


@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.max-width{
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
		min-width: 992px;
		max-width: 1200px;
		width: 100%;
		grid-template-columns: 1fr;
		
	}
	.content{
		
		margin-top: 30px;
	}
	
	.container{
		
		margin-left: 0px;
		margin-right: 0px;
		min-width: 992px;
		max-width: 1200px;
		width: 100%;
		
		
	}
	.sidebar{
		order:1;
		min-width: 992px;
		max-width: 1200px;
		width: 100%;
		
	}
	.leftbar{
		order: 2;
		min-width: 992px;
		max-width: 1200px;
		width: 100%;
	}
	
	.hero {
		padding-top: 30px;
		overflow: hidden;
		min-width: 992px;
		max-width: 1200px;
		width: 100%;
		
	}
	.footer-item{
		min-width: 992px;
		max-width: 1200px;
		width: 100%;
	}
	.login__form {
		position: relative;
		padding-left: 32px;
	}
	.login__social__links ul li a {
		width: 380px;
	}
	.blog__item__text {
		padding: 0 50px;
	}
}

/* Tablet Device = 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.max-width{
		
		min-width: 768px;
		max-width: 991px;
		width: 100%;
		
	}
	.content{
		margin-top: 20px;
		grid-template-columns: 1fr;
	}
	.container{
		margin-left: 0px;
		margin-right: 0px;
		min-width: 768px;
		max-width: 990px;
		width: 100%;
		
	}
	.sidebar{
		order:1;
		min-width: 768px;
		max-width: 990px;
		width: 100%;
		
	}
	.leftbar{
		order: 2;
		min-width: 768px;
		max-width: 990px;
		width: 100%;
	}
  
	.hero {
		padding-top: 10px;
		overflow: hidden;
	}
	.header {
		position: relative;
	}
	.header .container {
		position: relative;
	}
	.header__right {
		position: absolute;
		right: 120px;
		top: -42px;
		padding: 0;
	}
	.header__menu {
		display: none;
	}
	.slicknav_menu {
		background: transparent;
		padding: 0;
		display: block;
	}
	.slicknav_nav {
		position: absolute;
		left: 0;
		top: 60px;
		width: 100%;
		background: #ffffff;
		padding: 15px 30px;
		z-index: 9;
	}
	.slicknav_nav ul {
		margin: 0;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 7px 0;
		margin: 0;
		color: #111111;
		font-weight: 600;
	}
	.slicknav_btn {
		border-radius: 0;
		background-color: #222;
		position: absolute;
		right: 0;
		top: 9px;
	}
	.slicknav_nav .slicknav_arrow {
		color: #111111;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: transparent;
		color: #111111;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		background: transparent;
		color: #111111;
	}
	.product__sidebar {
		padding-top: 50px;
	}
	.footer__logo {
		text-align: center;
		margin-bottom: 20px;
	}
	.footer__nav {
		margin-bottom: 15px;
	}
	.footer__copyright__text {
		text-align: center;
	}
	.anime__details__widget ul li span {
		width: 90px;
	}
	.anime__details__pic {
		margin-bottom: 40px;
	}
	.anime__details__sidebar {
		padding-top: 50px;
	}
	.login__form {
		padding-left: 0;
		margin-bottom: 40px;
	}
	.login__form:after {
		display: none;
	}
	.login__form form .input__item {
		width: auto;
	}
	.login__register {
		padding-left: 0;
	}
	.signup .login__social__links {
		padding-left: 0;
	}
}
/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {
	.hero {
		overflow: hidden;
	}
	.header {
		position: relative;
	}
	.header .container {
		position: relative;
	}
	.header__right {
		position: absolute;
		right: 120px;
		top: -42px;
		padding: 0;
	}
	.header__menu {
		display: none;
	}
	.slicknav_menu {
		background: transparent;
		padding: 0;
		display: block;
	}
	.slicknav_nav {
		position: absolute;
		left: 0;
		top: 60px;
		width: 100%;
		background: #ffffff;
		padding: 15px 30px;
		z-index: 9;
	}
	.slicknav_nav ul {
		margin: 0;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 7px 0;
		margin: 0;
		color: #111111;
		font-weight: 600;
	}
	.slicknav_btn {
		border-radius: 0;
		background-color: #222;
		position: absolute;
		right: 0;
		top: 9px;
	}
	.slicknav_nav .slicknav_arrow {
		color: #111111;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: transparent;
		color: #111111;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		background: transparent;
		color: #111111;
	}
	.product__sidebar {
		padding-top: 50px;
	}
	.footer__logo {
		text-align: center;
		margin-bottom: 20px;
	}
	.footer__nav {
		margin-bottom: 15px;
	}
	.footer__copyright__text {
		text-align: center;
	}
	.blog__details__title h2 {
		font-size: 34px;
		line-height: normal;
	}
	.anime__details__pic {
		margin-bottom: 40px;
	}
	.anime__details__sidebar {
		padding-top: 50px;
	}
	.btn__all {
		text-align: left;
	}
	.product__page__title .section-title {
		margin-bottom: 30px;
	}
	.product__page__title .product__page__filter {
		text-align: left;
	}
	.anime__details__rating {
		text-align: left;
		position: relative;
		margin-bottom: 20px;
	}
	.blog__details__social {
		overflow: hidden;
	}
	.blog__details__title .blog__details__social a {
		margin-right: 10px;
		margin-bottom: 10px;
		width: calc(50% - 10px);
		float: left;
	}
	.login__form {
		padding-left: 0;
		margin-bottom: 40px;
	}
	.login__form:after {
		display: none;
	}
	.login__form form .input__item {
		width: auto;
	}
	.signup .login__social__links {
		padding-left: 0;
	}
	.login__social__links ul li a {
		width: auto;
	}
	.blog__item__text {
		padding: 0 30px;
	}
	.login__register {
		padding-left: 0;
	}
	.product__sidebar__view .filter__controls li {
		margin-right: 2px;
	}
	.search-model-form input {
		width: 100%;
	}
}
